/* Tags */

button {
}

img {
    height: auto;
}

select {
    color: #fff;
    background-color: grey;
}

/* Classes */
.title {
    /*position: fixed;*/
}

.image {
    height: 20em;
    width: auto;
}

/* IDs */