/* Tags */

button {
}

img {
    height: auto;
}

select {
    color: #fff;
    background-color: grey;
}

/* Classes */
.title {
    /*position: fixed;*/
}

/* IDs */
#image-gallery {
    overflow-x: scroll;
    width: auto;
}