/* Tags */

button {
    height: auto;
}

/* Classes */

.drone {
    height: auto;
}

.drone-name {
    color: #000000;
}

/* IDs */

#canvas-test {
    width: 100%;
    height: auto;
    background-color: #fff;
}

#configure-mission-page {
    display: none;
}

#drone-selection-bar {
    overflow-y: hidden;
    height: 330px;
    white-space: nowrap;

}

#selected-drone-message {
    text-align: center;
    background-color: #265a88;
    display: none;
}

