/* Tags */

button {
    height: auto;
    text-align: left;
}

canvas {
    background-color: #fff;
    width: 100%
    height: auto
}

/* Classes */

/* IDs */

#mission-listing {
    display: none;
}