/* Tags */

button {
    height: auto;
    text-align: left;
}

canvas {
    background-color: #fff;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Classes */

/* IDs */

#mission-listing {
    display: none;
}