/* Tags */

button {
    height: auto;
    text-align: left;
}

canvas {
    width: 100%;
    height: auto;
}

select {
    color: #fff;
    background-color: grey;
}

/* Classes */

.errors {
    display: none;
}

.drawable-canvas-grids {
    background-color: transparent;
    position: absolute;
    padding-right: 30px;
}

.drone {
    height: auto;
}

.drone-name {
    color: #000000;
}

.loading {
    display: none;
}

.message {
    width: 100%;
    top: 30%;
    padding-top: 1em;
    padding-left: 9em;
    position: fixed;
    z-index: 10;
}

.message-icon {
    position: absolute;
    font-size: 5em;
    /*padding-left: 0.5em;*/
    left: 0.5em;
    top: 20%;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #ffffff;
    opacity: 0.5;
    position: fixed;
}

/* IDs */

#altitude-box {
    color: #000;
}

#canvas-interaction {
    z-index: 5;
}

#canvas-grid {
    width: 100%;
    height: auto;
    background-color: #fff;
}

#configure-mission-page {
}

#drone-selection-bar {
    overflow-y: hidden;
    white-space: nowrap;
}

#error-message {
    background-color: red;
}

#loading-message {
    background-color: grey;
}

#selected-drone-message {
    text-align: center;
    background-color: #265a88;
    display: none;
}

#success-message {
    background-color: green;
}

/*SPINNING CIRCLE ANIMATION */
#loading-circle {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}