/* Tags */

button {
    height: auto;
}

canvas {
    width: 100%;
    height: auto;
}

select {
    color: #fff;
    background-color: grey;
}

/* Classes */

.drawable-canvas-grids {
    background-color: transparent;
    position: absolute;
    padding-right: 30px;
}

.drone {
    height: auto;
}

.drone-name {
    color: #000000;
}

/* IDs */

#altitude-box {
    color: #000;
}

#canvas-interaction {
    z-index: 10;
}

#canvas-grid {
    width: 100%;
    height: auto;
    background-color: #fff;
}

#configure-mission-page {
}

#drone-selection-bar {
    overflow-y: hidden;
    height: 330px;
    white-space: nowrap;

}

#selected-drone-message {
    text-align: center;
    background-color: #265a88;
    display: none;
}

#warning-message {
    position: fixed;
    background-color: red;
    z-index: 10;
}
