/* Tags */

button {
    height: auto;
}

canvas {
    width: 100%;
    height: auto;
}

/* Classes */

.drone {
    height: auto;
}

.drone-name {
    color: #000000;
}

/* IDs */

#altitude-box {
    color: #000;
}

#canvas-grid {/*
    width: 100%;
    height: auto;*/
    background-color: #fff;
}

#canvas-flight-path {/*
    width: 100%;
    height: auto;*/
    background-color: transparent;
    position: absolute;
    padding-right: 30px;
}

#canvas-point-of-interest {
    background-color: transparent;
    position: absolute;
    padding-right: 30px;
    display: none;
}

#configure-mission-page {
    display: none;
}

#drone-selection-bar {
    overflow-y: hidden;
    height: 330px;
    white-space: nowrap;

}

#selected-drone-message {
    text-align: center;
    background-color: #265a88;
    display: none;
}

