/* Tags */

body {
    background-color: transparent;
}

button {
	color: #000;
	height: auto;
    border: hidden;
    background-color: #fff;
    font-size: larger;
    margin-top: 1em;
    margin-bottom: 1em;
}

button:hover {
    color: orange;
}

a {
    color: orange;
}

a:hover {
	color: orange;
}

div {
    color: #fff;
}

html {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/Blur-Backgrounds.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* Classes */

.errors {
    display: none;
}

.loading {
    display: none;
}

.message {
    width: 100%;
    top: 30%;
    padding-top: 1em;
    padding-left: 9em;
    position: fixed;
    z-index: 10;
}

.message-icon {
    position: absolute;
    font-size: 5em;
    left: 0.5em;
    top: 20%;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #ffffff;
    opacity: 0.5;
    position: fixed;
}

.success {
    display: none;
}

.title {
    background-color: transparent;
}

.warning {
    display: none;
}

/* IDs */

#error-message {
    background-color: red;
}

#loading-message {
    background-color: grey;
}

#success-message {
    background-color: green;
}

#warning-message {
    background-color: darkgoldenrod;
}

/*SPINNING CIRCLE ANIMATION */
#loading-circle {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}